{
    "db": {
        "host": "127.0.0.1",
        "port": 27017,
        "database": "maile"
    },
    "app": {
        "debug": true
    },
    "secret": {
        "salt": "638D9E624E562DFA388C256A063A699CD65B0646"
    }
}