{
    "db": {
        "host": "127.0.0.1",
        "port": 27017,
        "database": "maile"
    },
    "app": {
        "debug": true
    },
    "store": {
        "ak": "...",
        "sk": "...",
        "url": "http://oykuz03sa.bkt.clouddn.com/",
        "bucket": "maile"
    },
    "secret": {
        "salt": "638D9E624E562DFA388C256A063A699CD65B0646"
    },
    "reward": {
        "sign": 5,
        "new_topic": 3,
        "new_reply": 2
    }
}